@using WebMatrix.Data

@{
    var db = Database.Open("FoodDB");
   

    var sql = "SELECT * FROM orders as o join deliveries as de on o.order_id = de.delivery_order_id join drivers as d" +
                " on de.driver_id = d.driver_id ";

    var output = db.Query(sql);

    foreach (var order in output)
    {
        <p>Order ID: @order.order_id</p>
        <p>Store ID: @order.store_id</p>
        <p>Channel ID: @order.channel_id</p>
        <p>Order Status: @order.order_status</p>
        <p>order amount:@order.order_amount</p>
        <p>order delivery fee:@order.order_delivery_fee</p>
        <p>order delivery cost:@order.order_delivery_cost</p>
        <p>order moment created:@order.order_moment_created</p>
        <p>order moment accepted:@order.order_moment_accepted</p>
        <p>order moment ready:@order.order_moment_ready</p>
        <p>order moment collected:@order.order_moment_collected</p>
        <p>order moment in expedition:@order.order_moment_in_expedition</p>
        <p>order moment delivering:@order.order_moment_delivering</p>
        <p>order moment delivered:@order.order_moment_delivered</p>
        <p>order moment finished:@order.order_moment_finished</p>
        <p>order metric collected time:@order.order_metric_collected_time</p>
        <p>order metric paused time:@order.order_metric_paused_time</p>
        <p>order metric production time:@order.order_metric_production_time</p>
        <p>order metric walking time:@order.order_metric_walking_time</p>
        <p>order metric expediton speed time:@order.order_metric_expediton_speed_time</p>
        <p>order metric transit time:@order.order_metric_transit_time</p>
        <p>order metric cycle time:@order.order_metric_cycle_time</p>
        <p>Driver ID: @order.driver_id</p>
        <p>Driver Modal: @order.driver_modal</p>
        <p>Driver Type: @order.driver_type</p>

        <hr />
    }
}




